@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,700;9..40,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--colorText);
}

:root {
    --colorText: #0e0f11;
    --colorBackground: #f0f3f5;
    --colorPrimary: #354b5f;
    --colorSecondary: #90b1d0;
    --colorAccent: #3c77af;

    --containerWidth-xl: 90%;
    --containerWidth-l: 78%;
    --containerWidth-m: 60%;

    --font-family: 'DM Sans', sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--colorBackground);
    font-family: var(--font-family);
}

.container {
    width: var(--containerWidth-l);
    margin: 0 auto;
}

header {
    border-bottom: 1px solid rgb(151, 151, 151);
    display: flex;
    justify-items: center;
    height: 4.8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(15px);
}

header a {
    font-size: 1rem;
    font-weight: 500;
}

header a:hover {
    border-bottom: 1px solid var(--colorAccent);
}

.logo__container img {
    padding: 0.5rem 0;
    width: 6rem;
}

.button__container {
    display: flex;
    align-items: center;
}

.nav__container nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

section {
    background-color: var(--colorPrimary);
    padding-bottom: 7rem;
}

section:nth-child(odd) {
    background-color: var(--colorSecondary);
}

.heading__container {
    padding-top: 2rem;
}

.heading {
    color: var(--colorText);
    font-weight: 500;
}

.heading span {
    color: var(--colorAccent);
}

.main__container {
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading__container {
    text-align: center;
}

.img__container img {
    max-width: 15rem;
    border-radius: 8rem 8rem 8rem 8rem;
    box-shadow: 11px 11px 10px -5px var(--colorAccent);
}

h2 {
    font-size: 1.6rem;
}

.button__container {
    padding-top: 1.3rem;
}

.btn {
    padding: 1rem;
    margin-right: 0.8rem;
    width: 12rem;
    max-width: 12rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn__primary {
    background-color: var(--colorAccent);
    color: white;
}

.btn__secondary {
    background-color: var(--colorSecondary);
    color: white;
}

.section__container .heading__container {
    padding-top: 4rem;
}

.section__item {
    padding-top: 5rem;
    display: flex;
}

.item__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.item__right {
    padding-top: 14rem;
}

.item__right p {
    text-align: right;
    font-weight: 200;
}

.item__right h3 {
    text-align: right;
    color: white;
}

.item__left h3 {
    color: white;
}

.item__left p {
    font-weight: 200;
}

.section__container .heading__container h2,
.project__container .heading__container h2 {
    color: white;
}

.grid__container {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid__item1 {
    grid-area: 1 / 1 / 2 / 3;
    width: calc(65% - 1rem);
    height: calc(50%);
    height: 30vh;
    background:url('https://images.unsplash.com/photo-1507878866276-a947ef722fee?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.grid__item2 {
    grid-area: 1 / 3 / 2 / 4;
    width: calc(35%);
    height: calc(50%);
    height: 30vh;
    background: url('https://images.unsplash.com/photo-1518890569493-668df9a00266?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.grid__item3 {
    grid-area: 2 / 2 / 3 / 4;
    width: calc(35%);
    height: calc(50%);
    height: 30vh;
    background:url('https://images.unsplash.com/photo-1595475884562-073c30d45670?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.grid__item4 {
    grid-area: 2 / 1 / 3 / 2;
    width: calc(65% - 1rem);
    height: calc(50%);
    height: 30vh;
    background:url('https://images.unsplash.com/photo-1684616290718-aac821e2edd5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;


}

.social__container {
    margin-top: 3rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.socials a {
    font-size: 1.5rem;
}

.socials a i:hover {
    color: var(--colorAccent);
}